<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>nbp-app</title>
    <style type="text/css">
        body{
            font-family: Arial, Helvetica, sans-serif;
        }
        text{
            margin-left: 2px;
            margin-bottom: 5px;
            margin-top: 5px;
            /*margin-left: 2px;*/
        }
        form{
            margin-left: 2px;
            margin-bottom: 2px;
        }
    </style>
</head>
<body>

<form align="right" name="form1" method="post" th:action="@{/logout}">
    <label class="logoutLblPos">
        <input name="submit2" type="submit" id="submit2" value="Logout">
    </label>
</form>
<h1>

</h1>

<h2>
</h2>

<text>
    Gold Prize
    <form method="get" th:action="@{/api/ore/getGoldPrize}">
        <div><label> Date <input name="date" type="text"/> </label>
            <input type="submit"/>
        </div>
    </form>
    <br/>
</text>


<text>
    Gold Prize
    <form method="get" th:action="@{/api/ore/getGoldPrize}">
        <div><label> Date <input name="date" type="text"/> </label>
            <input type="submit"/>
        </div>
    </form>
    <br/>
</text>

<text>
    Average Gold Prize
    <form method="get" th:action="@{/api/ore/getAverageGoldPrize}">
        <div>
            <label> Start date <input name="from" type="text"/> </label>
            <label> End date <input name="to" type="text"/> </label>
            <input type="submit"/>
        </div>
    </form>
    <br/>
</text>


<text>
    Currency Prize
    <form method="get" th:action="@{/api/currency/getCurrencyPrize}">
        <div>
            <label> Currency <input name="currency" type="text"/> </label>
            <label> Date <input name="date" type="text"/> </label>
            <input type="submit"/>
        </div>
    </form>
    <br/>

</text>

<text>
    Most Volatile Currency From Period
    <form method="get" th:action="@{/api/currency/getMostVolatileCurrency}">
        <div>
            <label> Start date <input name="from" type="text"/> </label>
            <label> End date <input name="to" type="text"/> </label>
            <input type="submit"/>
        </div>
    </form>
    <br/>
</text>

<text>
    Minimum Bid Price For a Date
    <form method="get" th:action="@{/api/currency/getMinBidPrice}">
        <div>
            <label> Date <input name="date" type="text"/> </label>
            <input type="submit"/>
        </div>
    </form>
    <br/>

</text>

<text>
    Dates (With Values) When Currency Was The Most And The Least Expensive
    <form method="get" th:action="@{/api/currency/getDatesWhenCurrencyWasMostAndLeastExpensive}">
        <div>
            <label> Currency <input name="currency" type="text"/> </label>
            <input type="submit"/>
        </div>
    </form>
    <br/>
</text>

<text>
    Sorted List Of Bid Prize For a Day
    <form method="get" th:action="@{/api/currency/getSortedListOfBidPrice}">
        <div>
            <label> Date <input name="date" type="text"/> </label>
            <input type="submit"/>
        </div>
    </form>
    <br/>

</text>

</body>
</html>
